.header {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include big-tablet {
    display: initial;
  }
}

.logo {
  @include big-tablet {
    padding-top: 40px;
  }
}

.logo__link {
  color: #454646;
  display: flex;
}

.logo__link--img {
  @include mobile {
    width: 70%;
  }
}
