.partners {
  padding: 25px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background-color: #fafafa;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    @include small-tablet {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__item {
    width: calc(100% / 6);
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2, 1.2);
    }

    @include small-tablet {
      width: 25%;
      margin: 5px !important;
    }

    @include mobile {
      width: 25%;
      margin: 10px !important;
    }
  }
  &__item:not(:last-of-type) {
    margin-right: 45px;
  }
  &__item img {
    width: 100%;
  }
}
