.team {
  display: flex;
  margin: 110px 0 60px 0;
  background: #367ab7;
  &__img {
    width: 50%;
    align-self: stretch;
    object-fit: cover;

    @include small-tablet {
      display: none;
    }
  }
  &__message {
    padding: 40px 97px 40px 30px;
    flex: 1;

    @include small-tablet {
      padding: 40px;
    }
  }
  &__text {
    color: $white;
    font-size: 1rem;
    line-height: 1.667;
    text-align: justify;
    margin: 45px 0;
    &--cursive {
      font-style: italic;
      margin: 0 0 40px 0;
    }
  }
  &__title {
    text-transform: capitalize;
    & .underline::after {
      display: block;
      bottom: -20px;
    }
  }
  & .button {
    padding: 23px 27px;
    background-color: #00b5d2;
    &::after {
      background-color: #008ea5;
    }
  }
}
