@include google-font("Lato:400,400i,700,900");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  color: $grey;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 95%;
  margin: auto;
  position: relative;
}
